* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-container {
  display: flex;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  align-items: center;
  width: 350px;
  padding: 16px;
  flex-wrap: wrap;
}

.card-content-box {
  width: 80%;
  text-align: center;
}

.qr-code-img {
  max-width: 100%;
  margin-bottom: 24px;
  border-radius: 12px;
}

.card-title {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 24px;
}

.card-text {
  font-size: 15px;
  margin-bottom: 24px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
